<div class="w-75 mt-5 mx-auto">

  <div class="row ">
    <h1>Explore nearby</h1>





    <div class="row align-items-baseline d-flex">

      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <a routerLink="/House/AllHouses/{{Giza}}" >
          <div class="card mb-3  " style="max-width: 250px; border: none;">
            <div class="row g-0 align-items-center ">
              <div class="col">
                <img src="../../assets/images/11.jpg" alt="img" width="100%" class="border rounded-3  ">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Giza</h5>
                  <p class="card-text "><small class="text-muted">3 hour drive</small></p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <a routerLink="/House/AllHouses/{{NewCairoCity}}">
        <div class="card mb-3  " style="max-width: 250px; border: none;" >
          <div class="row g-0 align-items-center ">
            <div class="col">
              <img src="../../assets/images/22.jpg" alt="img" width="100%" class="border rounded-3  ">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">New Cairo City</h5>
                <p class="card-text "><small class="text-muted">3 hour drive</small></p>
              </div>
            </div>
          </div>

        </div>
      </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <a routerLink="/House/AllHouses/{{OctoberCity}}">

        <div class="card mb-3  " style="max-width: 250px; border: none;">
          <div class="row g-0 align-items-center ">
            <div class="col">
              <img src="../../assets/images/33.webp" alt="img" width="100%" class="border rounded-3  ">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">6th Of October City</h5>
                <p class="card-text "><small class="text-muted">3 hour drive</small></p>
              </div>
            </div>
          </div>

        </div>
      </a>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <a routerLink="/House/AllHouses/{{MarinaElAlamein}}">

        <div class="card mb-3  " style="max-width: 250px; border: none;">
          <div class="row g-0 align-items-center ">
            <div class="col">
              <img src="../../assets/images/44.webp" alt="img" width="100%" class="border rounded-3">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Marina El Alamein</h5>
                <p class="card-text "><small class="text-muted">2 hour drive</small></p>
              </div>
            </div>
          </div>

        </div>
      </a>
      </div>
    </div>
    <div class="row align-items-baseline d-flex">

      <div class="col-lg-3 col-md-6 col-sm-6 col-6  ">
      <a routerLink="/House/AllHouses/{{Madinaty}}">

        <div class="card mb-3  " style="max-width: 250px; border: none;">
          <div class="row g-0 align-items-center ">
            <div class="col">
              <img src="../../assets/images/55.webp" alt="img" width="100%" class="border rounded-3  ">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Madinaty</h5>
                <p class="card-text "><small class="text-muted">3.5 hour drive</small></p>
              </div>
            </div>
          </div>

        </div>
      </a>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
      <a routerLink="/House/AllHouses/{{SheikhZayedCity}}">

        <div class="card mb-3  " style="max-width: 250px; border: none;">
          <div class="row g-0 align-items-center  ">
            <div class="col">
              <img src="../../assets/images/66.webp" alt="img" width="100%" class="border rounded-3  ">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Sheikh Zayed City</h5>
                <p class="card-text "><small class="text-muted">2.5 hour drive</small></p>
              </div>
            </div>
          </div>

        </div>
      </a>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
      <a routerLink="/House/AllHouses/{{MarsaMartruh}}">

        <div class="card mb-3  " style="max-width: 250px; border: none;">
          <div class="row g-0 align-items-center ">
            <div class="col">
              <img src="../../assets/images/77.jpg" alt="img" width="100%" class="border rounded-3  ">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Marsa Martruh</h5>
                <p class="card-text "><small class="text-muted">4.5 hour drive</small></p>
              </div>
            </div>
          </div>

        </div>
      </a>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
      <a routerLink="/House/AllHouses/{{PyramidsGardens}}">

        <div class="card mb-3  " style="max-width: 250px; border: none;">
          <div class="row g-0 align-items-center ">
            <div class="col">
              <img src="../../assets/images/88.webp" alt="img" class="border rounded-3  img-fluid">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Pyramids Gardens</h5>
                <p class="card-text "><small class="text-muted">3 hour drive</small></p>
              </div>
            </div>
          </div>

        </div>
      </a>

      </div>



    </div>

  </div>





</div>
<div class="w-75 bg-img border  mx-auto mt-5 mb-5 " style="height: 500px;border-radius: 20px; ">
  <div class="p-4 mx-lg-5">
    <h1 class="text">Not Sure Where <br> to go? Prefect </h1>
    <button class="btn btn-dark" type="button">Iam flexible</button>
  </div>

</div>
