<div class="w-75 mx-auto">
  <h1 class="mt-5" style="font-weight: 600; font-size: 35px; margin-bottom: 40px;">Explore nearby</h1>
  <div class="row">
    <div class=" col-sm-6   col-lg-3  ">
      <a routerLink="/House/AllHouses/{{Giza}}">
        <img src="../../assets/images/11.jpg" alt="img" width="20%" class=" rounded-3">
        <span class="mx-3 text-dark" style="font-weight: 500;">Giza
          <p><small>3 hour drive</small></p>
        </span>
      </a>
    </div>
    <div class=" col-sm-6   col-lg-3  ">
      <a routerLink="/House/AllHouses/{{NewCairoCity}}">
        <img src="../../assets/images/22.jpg" alt="img" width="20%" class=" rounded-3">
        <span class="text-dark" style="font-weight: 500;margin-left: 7px;">New cairo city
          <p><small>3 hour drive</small></p>
        </span>
      </a>
    </div>
    <div class=" col-sm-6   col-lg-3  ">
      <a routerLink="/House/AllHouses/{{OctoberCity}}">
        <img src="../../assets/images/33.webp" alt="img" width="20%" class=" rounded-3">
        <span class="text-dark" style="font-weight: 500;margin-left: 7px;">October city
          <p><small>3 hour drive</small></p>
        </span>
      </a>
    </div>
    <div class=" col-sm-6   col-lg-3  ">
      <a routerLink="/House/AllHouses/{{Giza}}">
        <img src="../../assets/images/44.webp" alt="img" width="20%" class=" rounded-3">
        <span class="text-dark" style="font-weight: 500;margin-left: 10px;">Marina ElAlamein
          <p><small>3 hour drive</small></p>
        </span>
      </a>
    </div>
  </div>
  <div class="row my-3">
    <div class=" col-sm-6   col-lg-3  ">
      <a routerLink="/House/AllHouses/{{Madinaty}}">
        <img src="../../assets/images/55.webp" alt="img" width="20%" class=" rounded-3">
        <span class="mx-3 text-dark" style="font-weight: 500;">Madinaty
          <p><small>3 hour drive</small></p>
        </span>
      </a>
    </div>
    <div class="  col-sm-6   col-lg-3 ">
      <a routerLink="/House/AllHouses/{{SheikhZayedCity}}">
        <img src="../../assets/images/66.webp" alt="img" width="20%" class=" rounded-3">
        <span class="text-dark" style="font-weight: 500;margin-left: 7px;">SheikhZayed
          <p><small>3 hour drive</small></p>
        </span>
      </a>
    </div>
    <div class=" col-sm-6   col-lg-3 ">
      <a routerLink="/House/AllHouses/{{MarsaMartruh}}">
        <img src="../../assets/images/77.jpg" alt="img" width="20%" class=" rounded-3">
        <span class="text-dark" style="font-weight: 500;margin-left: 7px;">Marsa Matruh
          <p><small>3 hour drive</small></p>
        </span>
      </a>
    </div>
    <div class="col-sm-6   col-lg-3 ">
      <a routerLink="/House/AllHouses/{{PyramidsGardens}}">
        <img src="../../assets/images/88.webp" alt="img" width="20%" class=" rounded-3">
        <span class="text-dark" style="font-weight: 500;margin-left: 7px;">Pyramids Gardens
          <p><small>3 hour drive</small></p>
        </span>
      </a>
    </div>
  </div>
</div>


<div class="w-75  bg-img border  mx-auto mt-5 mb-5 " style="height: 500px;border-radius: 20px; ">
  <div class="p-4 mx-lg-5">
    <h1 class="text">Not Sure Where <br> to go? Prefect </h1>
    <button class="btn btn-dark" type="button">Iam flexible</button>
  </div>

</div>
