<div class="my-2">
  <footer class="px-5" style="background-color: #F7F7F7;">
    <div class="container-fluid p-5">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-1">
          <h5 id="Titels" class="mb-3">ABOUT </h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">How Airbnb works</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Newsroom</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Airbnb 2021</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Investors</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Airbnb Plus</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Airbnb Luxe</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">HotelTonight</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Airbnb for Work</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Made possible by Hosts</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 id="Titels" class="mb-3">COMMUNITY</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Diversity & Belonging</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Against Discrimination</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Accessibility</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Airbnb Associates</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Frontline Stays</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Guest Referrals</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Gift cards</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Airbnb.org</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-2">
          <h5 id="Titels" class="mb-3">HOST</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Host your home</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Host an Online Experience</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Host an Experience</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Responsible hosting</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Resource Center</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Community Center</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 id="Titels" class="mb-3">SUPPORT</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Our COVID-19 Response</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Help Center</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Cancellation options</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Neighborhood Support</a>
            </li>
            <li class="mb-2">
              <a href="#!" style="color: #4f4f4f;">Trust & Safety</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <hr>
      <footer class="text-center text-white" style="background-color: #F7F7F7;">
        <!-- Grid container -->
        <div class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="Titels"><i class="fab fa-linkedin"></i></a>
            <!-- Github -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-0" style="background-color: #F7F7F7;">
          © 2021 Airbnb, Inc
          <a class="text-dark" href="#"></a>
        </div>
        <!-- Copyright -->
      </footer>
    </div>
  </footer>

</div>
